package-lock.json
/html/modernHTMLAndCSSFromTheBeginning/sass/node_modules
/html/modernHTMLAndCSSFromTheBeginning/portfolio_website/node_modules
/javascriptLearning/completeJavaScriptCourse2020/forkify/node_modules
/javascriptLearning/theCompleteNodejsDeveloperCourse/notes-app/node_modules
/javascriptLearning/theCompleteNodejsDeveloperCourse/sandbox/
/javascriptLearning/theCompleteNodejsDeveloperCourse/weather-app/node_modules