[submodule "serverAndBackend/microserviceWithNodeJSandReact/ticketing"]
	path = serverAndBackend/microserviceWithNodeJSandReact/ticketing
	url = https://github.com/allenlin90/ticketing-micro-service.git
