body {
    background: rgb(204,204,204);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 12pt "Roboto", "Georgia", "Times New Roman", "Times", "serif";
    line-height: 1.3;
}

@page {
    size: auto;
    margin: 0;
}

.container {
    background: white;
    page-break-after: always;
    padding: 0.5cm;
    margin: 0.5cm auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

hr {
    background: black;
}

img {
    display: inline-block;
    width: 100%;
}

.content {    
    border: orange dashed 2px;
    height: 17cm;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 50%;
    margin: 0.5cm;
}

.left {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.left p{
    width: 100%;
}

.receiver_info, .note, .empty {
    border-top: 2px solid black;
}

.receiver_info {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact, .postcode {
    display: flex;
}

.postcode {
    justify-content: space-around;
}

.note_contents + p {
    text-align: center;
    font-size: 12px;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}

.tracking, .extraService {
    display: flex;
    justify-content: space-between;
}

.parcel {
    display: flex;    
    flex-direction: column;
}